player-connection-mode=Listen
player-connection-guid=2004765776
player-connection-debug=1
player-connection-project-name=Space Shooter
player-connection-ip=192.168.0.11
player-connection-ip=192.168.193.1
player-connection-ip=192.168.238.1
player-connection-ip=172.30.16.1
player-connection-ip=192.168.0.105
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
wait-for-managed-debugger=1
vr-enabled=0
hdr-display-enabled=0
